// Breakpoints
$breakpoints: (
  "sm": 375px,
  "smx": 475px,
  "md": 768px,
  "lg": 1220px,
  "xl": 1440px,
);

// Variables colors fonts
$colors: (
  "primary":#FFCB00,
);

// Inserting weight variables
$fontWeight: (
  "thin": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
);